[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "lib/boost/test"]
	path = lib/boost/test
	url = https://github.com/boostorg/test.git
	branch = master
